.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-brand:active {
  color: white;
}

.nav-link {
  color: white !important
}

.active {
  color: white !important;
  font-weight: bold;
}